  .search-container{
    padding-top: 30px;
    width: 300px;
    margin: auto;
    display: block;
  }
  
  .search-input {
    padding: 5px 15px;
    width: 300px;
    font-family: Exo;
    font-size: 16px;
  }
  
  .pokemon-list > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-height: 150px;
    background: white;
    overflow: hidden;
    width: 242px;
    color:#999;
    z-index: 3;
  }
  /* .pokedexResultsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-height: 150px;
    background: white;
    overflow: hidden;
    width: 242px;
    color:#999;
    z-index: 3;
  } */
  p.jim{
    margin: 10px;
    padding: 0;
  } 
  .jimmy{
    width: 100%;
  }
  .jimmy:hover{
    background-color: #1B53BA;
  }


  .search-input-container{
    display: flex;
  }

  #root > div > div > div > div.search-container > div.search-input-container > button{
    background-color: #ee6b2f;
    color: white;
    border-radius: 5px;
    border: none;
    width: 70px;
    cursor: pointer;
  }

  /* #root > div > div > div > div.container > div > div{
    display: block;
    text-align: center;
    max-height: 150px;
    overflow: hidden;
  } */

  /* #root > div > div > div > div.container{
    padding-top: 30px;
    width: 300px;
    margin: auto;
    display: block;
  } */

  .jim{
    text-transform: capitalize;
    font-size: 16px; 
    font-family: Exo;
  }
  .clicked-name{
    text-transform: capitalize;
    font-size: 16px;
    font-family: Exo;
  }
  
  .pokemon {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
  }
  
  .pokemon-id {
    color: red;
    margin-right: 20px;
  }
  
  .pokemon-name {
    color: blue;
  }
  
 
  .green {
    display: none;
  }