.pokedexContainer {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 16px;
  color: "black";
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-image: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: "black";
  font-family: "Exo", sans-serif;
  background: #fff
    url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

h1 {
  color: #919191;
  cursor: default;
  font-size: 187.5%;
  line-height: 125%;
  font-weight: 100;
  padding: 32px;
}

.randomizer {
  background-color: #30a7d7;
  color: white;
  width: 35%;
  font-size: 1.1rem;
  font-family: "Exo";
  font-weight: 500;
  padding: 1.4%;
  border-radius: 5px;
  border: none;
  margin-left: 32px;
  cursor: pointer;
  transition: 100ms ease-in;
}
.randomizer:hover {
  background-color: #1b82b1;
}

.selectWrapper {
  width: 40%;
  float: right;
  padding-right: 3%;
}
#sortOrder {
  background-color: #313131;
  font-family: Exo;
  color: white;
  width: 100%;
  padding: 2.7% 0%;
  border-radius: 5px;
  font-size: 100%;
  font-weight: 500;
}

.pokemonCardContainer {
  display: "flex";
  margin: 16px;
}
.pokemonCardContainer:hover {
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.copyContainer {
  display: "flex";
  background-color: white;
  flex: 1;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  padding-left: 3%;
}

.pokemonImage {
  background-color: #f2f2f2;
  border-radius: 3%;
  cursor: pointer;
}

.pokemonId {
  color: #919191;
  font-weight: 600;
  font-size: 80%;
}

.pokemonName {
  font-size: 115%;
  margin-bottom: 5px;
  font-weight: 500;
  color: #313131;
  text-transform: capitalize;
}

.typesContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
  line-height: 18px;
}

.typesCard {
  margin-right: 1%;
  border-radius: 3px;
  width: 40%;
  text-align: center;
}

.grass {
  background-color: #9bcc50;
  color: #212121;
}

.poison {
  background-color: #b97fc9;
  color: white;
}

.fire {
  background-color: #fd7d24;
  color: white;
}

.water {
  background-color: #4592c4;
  color: white;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
}

.bug {
  background-color: #729f3f;
  color: white;
}

.normal {
  background-color: #a4acaf;
  color: #212121;
}

.electric {
  background-color: #eed535;
  color: #212121;
}

.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #212121;
}

.fairy {
  background-color: #fdb9e9;
  color: #212121;
}

.fighting {
  background-color: #d56723;
  color: white;
}

.psychic {
  background-color: #f366b9;
  color: white;
}

.rock {
  background-color: #a38c21;
  color: white;
}

.steel {
  background-color: #9eb7b8;
  color: #212121;
}

.ice {
  background-color: #51c4e7;
  color: #212121;
}

.ghost {
  background-color: #7b62a3;
  color: white;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  color: white;
}

.dark {
  background-color: #707070;
  color: white;
}

@font-face {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap");
